* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.comp-btn, .btn-switch {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
}

.btn-switch {
  background-color: #000000;
  color: #fff;
  padding: 10px 25px;
  transition: all 0.3s ease-in;
}
.btn-switch:hover {
  background-color: #fff;
  color: #000000;
  border-color: #000000;
}

.heading {
  font-size: 30px;
}

footer {
  box-shadow: 0 0 10px #c9d8f4;
}
footer .footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
}
footer .footer .copyright {
  font-weight: 400;
  margin: 0 20px;
}
footer .footer .nav-foot {
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

header {
  box-shadow: 0 0 10px #c9d8f4;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.nav-link {
  font-size: 18px;
  padding: 0 20px !important;
  position: relative;
}
.nav-link.active::after {
  transform: scaleX(1);
}
.nav-link.cart {
  margin-right: 20px;
}
.nav-link.cart::after {
  content: none;
}
.nav-link.cart .quantity {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #575757;
  top: -10px;
  color: #fff;
  right: -2px;
  font-size: 18px;
}
.nav-link::after {
  content: "";
  display: block;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: #000000;
  position: relative;
  transition: all 0.3s ease;
}
.nav-link:hover::after {
  transform: scaleX(1);
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background: #101010;
  height: 60px;
  display: block;
}

.client {
  padding-top: 100px;
}

select#filter {
  cursor: pointer;
}
select#filter:hover {
  color: #333;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
}

.card {
  margin-bottom: 20px;
  position: relative;
}
.card .card-img-top {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card-body .card-title {
  color: #2ecc71;
}
.card .cart-btn,
.card .buy-btn {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.card .cart-btn {
  background-color: #e74c3c;
}
.card .buy-btn {
  background-color: #3498db;
}
.card .cart-btn:hover,
.card .buy-btn:hover {
  transition: all 0.5s;
}
.card:hover {
  box-shadow: 1px 1px 10px rgba(36, 36, 36, 0.5);
  transition: all 0.5s;
}

.card:hover .card-title {
  color: #3498db;
  transition: all 0.5s;
}

.card:hover .card-img-top {
  transform: scale(0.9);
  transition: all 0.5s ease-in-out;
}

#cart-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
#cart-button:hover {
  background-color: #d62c1a;
}

.cart__products,
.cart__totals {
  padding: 28px;
}

.cart__totals {
  background-color: #f7f7f7;
}

.admin {
  padding-top: 100px;
}
.admin table .name {
  font-size: 18px;
}
.admin table th {
  font-weight: 600;
  padding: 25px 20px;
}
.admin table td {
  vertical-align: top;
  padding: 25px 20px;
}
.admin table img {
  max-width: 80px;
}
.admin .modal label {
  font-weight: 500;
}
.admin .modal select {
  font-size: 20px;
}
.admin #btnSearchPrd {
  cursor: pointer;
}
.admin #selectSort {
  font-size: 20px;
}

::-moz-placeholder {
  color: #b0b0b0;
  font-size: 20px;
}

::placeholder {
  color: #b0b0b0;
  font-size: 20px;
}/*# sourceMappingURL=main.css.map */